@import "../../styles/mixins.scss";
@import "../../styles/variable.scss";


.cartcontainer{
    display: flex;
    align-items: center;
    flex-direction: column;

    a{
        text-decoration: none;
        color: black;
    }
   
    .path{
        list-style-type: none;
        display: flex;
        gap: 10px;
        font-size: small;
        margin: 20px 10px 50px 0;
        padding: 0;
    
            li:last-child{
                color: $gray
            }
    }
    .pricecontainer{
        display: flex;
        gap: 10px;
        

        .tablecontainer{
            display: block;
            overflow: auto;
            
            .table{
                border: $borderlitgay ;
                border-collapse: collapse;
                margin: 0;
    
                .imgcontainer{
                    width: 50px;
                    height: 70px;
                    border: $borderlitgay ;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .imgcontainer::after{
                    @include imgremove;
                }
                .imgcontainer:hover::after{
                    opacity: 1;
                }
                
                th,td{
                    border-bottom: $borderlitgay;
                    margin: 0;
                    padding: 20px;
                }
                tr{
                    height: 100px
                }
                .rate{
                    @include ratealign;
                }
                .quantity{
                    @include quantitybutton;
                }
            }
        }    
        .totalprice{
            border: $borderlitgay ;
            padding: 30px;

            p{
                @include ratealign;
                border-bottom: 1.5px dashed rgba(128, 128, 128, 0.2);
            }
            button{
                @include button;
                background-color: black;
            }
            button:hover{
                background-color: $midblue;
            }
        }
    }


}

@media (max-width: 1200px) {
      .cartcontainer{
        .pricecontainer{
            flex-direction: column;
        }
      }
 }

 @media (max-width: 1000px) {
    .cartcontainer{
        
      .pricecontainer{
          .tablecontainer{
            width: calc(100vw - 20px);
          }
      }
    }
}
